body {
	background-color: #f2f2f2;
}
form {
	padding-top: 20px;
	text-align: center;
}

.navbar-header>img {
	width: 40px;
	height: 40px;

}

.navbar-header {
	padding-top: 6px;
	cursor: pointer;
	color: #007ba7;
}

#nav-option:hover{
	color: #007ba7;
}

#nav-option.active {
	outline-color: #007ba7;
}

#eye>img{
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	text-align: center;
}

#search {
	font-size: 20px;
	width: 500px;
	height: 65px;
	padding: 7px;
	border: 1px solid #007ba7;
}

#search:focus {
	outline: none;
}

#submit:focus {
	outline: none;
}

#submit {
	padding: 8px;
	background: #007ba7;
	border: 1px solid #007ba7;
	color: white;
	margin-left: -5px;
	cursor: pointer;
	width: 50px;
	height: 65px;
	margin-bottom: -50px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;

}

#submit:hover {
	background: #333;
	transition: all 0.40s;
}

#newsAlert {
	padding-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	display: none;
}

.close {
	/*padding-top: -8px;*/
	margin-top: -3px;
/*	margin-right: 50px;
	margin-left: 50px;*/
}

#newsHeader {
	padding-top: 15px;
	text-align: center;
	color: #007ba7;
}

#newsSources {
	background-color: #f2f2f2;
}

.btn-group {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.searchable-container{
	margin-left: 20px;
	margin-top: 10px;

	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2f2f2;
}

.searchable-container label.btn-default.active {
	background-color:#007ba7;
	color:#FFF;
}


.searchable-container label.btn-default{
	width:90%;
	border:1px solid #efefef;
	margin:5px; 
	box-shadow:5px 8px 8px 0 #ccc;
}
.searchable-container label .bizcontent{
	width:100%;
}
.searchable-container .btn-group{
	width:90%
}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}

.searchable-container .btn.active span.glyphicon {
    opacity: 1;
    padding-right: 30px;
}
.bizcontent {
	margin: auto;
	width: 100px;
	height: 60px;
	display: inline;
}

.bizcontent>img {
	margin: auto;
	width: 100px;
	height: 60px;
	text-align: center;
}

/*#marketWatchBtn img {
	height: 35px;
}*/

#WSJBtn img {
	width: 135px;
}
/*#motleyFoolBtn img {
	width: 135px;
	height: 65px;
}*/

/*#googleFinanceBtn img {
	width: 135px;
	height: 50px;
}*/

#tickerError {
	display: none;
	width: 100vw;
	height: 100vh;
}

#ticker{
	text-align: center;
	vertical-align: middle;
	color: red;
	/*margin: auto;*/
}

.btn-info {
	margin-top: 20px;
	margin-left: 550px;
	text-align: center;
	vertical-align: middle;
	background-color: #007ba7;
}

.btn-info:hover {
	background: #333;
	transition: all 0.40s;
}

.btn-info:focus {
	outline: none;
}

.btn-info:active{
	background-color: #007ba7;
}


#particles {
	display: none;
	width: 100vw;
	height: 100vh;
}

#scraping {
	margin-left: 200px;
	margin-top: -400px;
	font-weight: bold;
	font-size: 100px;
	z-index:1;
	position:relative;
	color: #fff;
	display: none;

}
/*** FOOTER ****/
.footer-bottom {
    background-color: #007ba7;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    padding-top: 17px;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.fa {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
	color: black;
}

.btn-default.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn-default.raised:active, .btn-default.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
