<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Public Eye</title>
  <script src="{{ url_for('static', filename='javascript/jquery-3.1.1.min.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
  <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/about.css') }}">
</head>
	<nav class="navbar navbar-default" id="nav">
          <div class="container nav-container">
            <div class="navbar-header" >
              <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='img/the_eye.png') }}">
              <b>Public Eye</b>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right" id="nav-options-right">
			  <li><a href="{{ url_for('index') }}" id="nav-option">Home</a></li>
              <li><a href="{{ url_for('about') }}" id="nav-option">About</a></li>
              <li><a href="#" id="nav-option">How It Works</a></li>
              <li><a href="#" id="nav-option">FAQ</a></li>
              </ul>
          </div>
        </nav>
    <body>

	    <section class="bg-primary" id="about">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <h1 class="section-heading">Welcome to Public Eye!</h2>
	                    <hr class="light">
	                    <p class="text-faded">We started this project as two Northwestern undergraduates interested in the intersection of computer science and finace. We have developed Public Eye as the basis of the software we are currently developing and wanted to share it with the world. We hope you enjoy our service and please submit feedback so we can enhance our platoform!</p>
	                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Read More</a>
	                </div>
	            </div>
	        </div>
	    </section>

	    <section id="services">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2 class="section-heading">Our Service</h2>
	                    <hr class="primary">
	                </div>
	            </div>
	        </div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
	                        <h3>Aggregate Data</h3>
	                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
	                        <h3>Influence Decisions</h3>
	                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
	                        <h3>Stay Up to Date</h3>
	                        <p class="text-muted">We update dependencies to keep things fresh.</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
	                        <h3>Explore News in Seconds</h3>
	                        <p class="text-muted">You have to make your websites with love these days!</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>

	    <section id="team">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <h2 class="section-heading">Meet the Team!</h2>
	                    <hr class="primary">
	                    <p>Two Northwestern University Undergraduates with a passion for problem solving.</p>
	                </div>
	        	</div>
	        </div>
	    </section>


	    <section id="contact">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <h2 class="section-heading">Give Us Some Feedback!</h2>
	                    <hr class="primary">
	                    <p>We want to hear from anyone and everyone about their experience using our platform. We made this for the people and want to enhance it to satisfy peoples needs and desires.</p>
	                </div>
	                <div class="col-lg-4 col-lg-offset-2 text-center">
	                    <i class="fa fa-github fa-3x sr-contact"></i>
	                    <!-- <p>123-456-6789</p> -->
	                </div>
	                <div class="col-lg-4 text-center">
	                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
	                    <p><a href="mailto:your-email@your-domain.com">one:1CapitalManagement@gmail.com</a></p>
	                </div>
	            </div>
	        </div>
	    </section>
	</body>
</html>